body {
  margin: 0;
  font-family: 'Pridi';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: '30px'
}

code {
  font-family: 'Pridi',
    monospace;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 40px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.component.first-component {
  background-color: black;
  position: relative;
  align-content: center;
  /* background-image: url(./images/social_distancing.jpg); */
  /* background-size: cover; */
}

.first-component--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

.component.second-component {
  background-color: black;
}

.component.third-component {
  background-color: black;
  text-align: center;
  justify-content: center;
  align-content: center;

}

.component.fourth-component {
  background-color: black;
}

.component.fifth-component {
  background-color: black;
  position: relative;
  align-content: center;
  /* background-image: url(./images/taxi2.jpg); */
}

.sixth-one-component {
  margin: auto;
  justify-content: center;
}

.component.sixth-component {
  background-color: black;
}

.component.seventh-component {
  background-color: black;
}

.component.eighth-1-component {
  background-color: black;
  background-image: url(./images/taxi3.jpg);
  background-size: cover;
}

.component.eighth-2-component {
  background-color: black;
  background-image: url(./images/maid_3.jpg);
  background-size: cover;
}

.component.ninth-component {
  background-color: black;
}

.component.tenth-component {
  background-color: black;
}

.component.eleventh-component {
  background-color: black;
}

.component.twelveth-component {
  background-color: black;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 120px;
  color: white;
}

h2 {
  margin: auto;
  text-align: center;
  font-size: 80px;
  color: white;

}

h3 {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 50px;
}

p.text-input {
  font-size: 30pt;
  color: #ff4379;
  font-family: 'Pridi';
}

p.text-info {
  font-size: 30pt;
  color: white;
  font-family: 'Pridi';
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class>li:not(:last-of-type)>a,
.pagination-additional-class>li:not(:last-of-type)>span {
  margin-right: 50px;
}

.demo-page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.demo-page-contain__hint {
  margin-bottom: 20px;
}

@media (max-width: 768px) {

  .pagination-additional-class>li:not(:last-of-type)>a,
  .pagination-additional-class>li:not(:last-of-type)>span {
    margin-right: 5px;
  }
}


/* thai */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v5/2sDQZG5JnZLfkcWJqWgJbU28O7w.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v5/2sDQZG5JnZLfkcWSqWgJbU28O7w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v5/2sDQZG5JnZLfkcWTqWgJbU28O7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v5/2sDQZG5JnZLfkcWdqWgJbU28.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}